<div class="card flex flex-column gap-3 login-container">
    <p-toast/>
    <h2 class="font-medium">Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form-container">
        <p-inputGroup class="inputGroup">
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <p-floatLabel>
                <input pInputText 
                       id="username" 
                       formControlName="username"
                       name="username"
                       autocomplete="username" />
                <label for="username">Usuario</label>
            </p-floatLabel>
        </p-inputGroup>
        <p-inputGroup class="inputGroup">
            <p-inputGroupAddon>
                <i class="pi pi-shield"></i>
            </p-inputGroupAddon>
            <p-floatLabel>
                <p-password id="password" 
                           formControlName="password"
                           name="current-password"
                           autocomplete="current-password"
                           [style]="{ width: '100%' }" 
                           [toggleMask]="true" 
                           [feedback]="false"
                           weakLabel="Débil"
                           mediumLabel="Media"
                           strongLabel="Fuerte">
                </p-password>
                <label for="password">Contraseña</label>
            </p-floatLabel>
        </p-inputGroup>
        <p-button id="submit" 
                  label="Iniciar sesión" 
                  type="submit" 
                  severity="help" 
                  size="large">
        </p-button>
    </form>
</div>
