<div class="pause-container">
  <h2>Pausa</h2>
  <p-toast></p-toast>

  @if (!isPaused()) {
    <div class="pause-options">
      <div class="w-full">
        <p-dropdown
          [options]="pauseOptions"
          [(ngModel)]="selectedPauseOption"
          optionLabel="label"
          placeholder="Seleccionar motivo de pausa"
          [style]="{'width': '100%'}"
          appendTo="body"
          class="mb-3 w-full">
        </p-dropdown>
      </div>

      <div class="w-full">
        <button
          pButton
          label="Activar Pausa"
          icon="pi pi-pause"
          class="p-button-primary"
          style="width: 100%;"
          [disabled]="!selectedPauseOption"
          (click)="activatePause(selectedPauseOption?.id)">
        </button>
      </div>
    </div>
  } @else {
    <div class="paused-status">
      <div class="pause-info">
        <span class="pause-type">{{ getCurrentPauseLabel() }}</span>
      </div>
      <div class="w-full">
        <button
          pButton
          label="Volver a disponible"
          icon="pi pi-play"
          class="p-button-success"
          style="width: 100%;"
          (click)="deactivatePause()">
        </button>
      </div>
    </div>
  }
</div>
