<div class="border-gray-200 rounded-lg text-sm">
  <p-table
    [value]="queues"
    dataKey="id_cola"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
  >
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cola</th>
        <th>Acciones</th>
      </tr></ng-template
    >

    <ng-template #body let-queue>
      <tr class="text-sm text-center">
        <td>{{ queue.id }}</td>
        <td>{{ queue.n_cola }}</td>
        <td>{{ queue.cola }}</td>
        <td>
          @if(checkQueue(queue)){
          <button
            (click)="deleteQueue(queue)"
            pButton
            icon="pi pi-times"
            class="p-button-rounded p-button-sm p-button-danger"
          ></button>
          } @else if(!checkQueue(queue)) {
          <button
            (click)="addQueue(queue)"
            pButton
            icon="pi pi-plus"
            class="p-button-rounded p-button-sm p-button-success"
          ></button>
          }
        </td>
      </tr></ng-template
    >
  </p-table>
</div>
