<!-- agentes.component.html -->
<div class="card">
  <!-- Sección del Encabezado -->
  <div class="flex justify-between items-center p-4 border-b bg-white">
    <button
      pButton
      label="Crear Usuario"
      icon="pi pi-plus"
      class="p-button-primary"
      (click)="openNew()"
    ></button>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="applyFilterGlobal($event)"
        placeholder="Buscar..."
      />
    </span>
  </div>

  <!-- Tabla -->
  <p-table
    #dt
    [value]="agents()"
    [rows]="rows"
    [paginator]="true"
    [globalFilterFields]="['agente', 'nombre', 'exten', 'team', 'estado']"
    [tableStyle]="{'min-width': '65rem'}"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    styleClass="p-datatable-sm"
    [scrollable]="true"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID </th>
        <th pSortableColumn="agente">Agente <p-sortIcon field="agente"></p-sortIcon></th>
        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
        <th pSortableColumn="exten">Extensión <p-sortIcon field="exten"></p-sortIcon></th>
        <th pSortableColumn="team">Equipo <p-sortIcon field="team"></p-sortIcon></th>
        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-agent>
      <tr class="text-sm text-center">
        <td class="font-bold" >{{agent.id}}</td>
        <td>{{agent.agente}}</td>
        <td>{{agent.nombre}}</td>
        <td>{{agent.exten}}</td>
        <td>{{agent.team}}</td>
        <td class="text-xs">
          <ng-content>
            @if(agent.estado === 'Desconectado') {
              <p-tag severity="danger" value="{{agent.estado.slice(0, 6) + '...'}}" />
            } 
            @else if(agent.estado === 'Conectado') {
              <p-tag severity="success" value="{{agent.estado}}" />
            }
            @else {
              <p-tag severity="info" value="{{agent.estado}}" />
            }
          </ng-content>
        </td>
          <!-- </ng-template> -->
        <td>
          <div class="action-buttons">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-sm p-button-edit"
              (click)="editAgent(agent)"
              pTooltip="Modificar"
            ></button>
            <button
              pButton
              icon="pi pi-plus"
              class="p-button-rounded p-button-sm p-button-info"
              pTooltip="Agregar cola"
              tooltipPosition="left"
              (click)="manageQueue(agent)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center p-4">No se encontraron agentes.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Diálogo para crear/editar agente -->
  <p-dialog [(visible)]="agentDialog" [style]="{width: '450px'}"
    [header]="isEditMode ? 'Editar Agente' : 'Nuevo Agente'" [modal]="true" styleClass="p-fluid">
      <form [formGroup]="agentForm">
        <div class="field">
          <label for="agente">Agente</label>
          <input type="text" pInputText id="agente" formControlName="agente" required autofocus />
          <small class="p-error" *ngIf="submitted && agentFormControls['agente'].errors?.['required']">
            Agente es requerido.
          </small>
        </div>

        <div class="field">
          <label for="nombre">Nombre</label>
          <input type="text" pInputText id="nombre" formControlName="nombre" required />
          <small class="p-error" *ngIf="submitted && agentFormControls['nombre'].errors?.['required']">
            Nombre es requerido.
          </small>
        </div>

        <div class="field">
          <label for="exten">Extensión</label>
          <input type="text" pInputText id="exten" formControlName="exten" required />
          <small class="p-error" *ngIf="submitted && agentFormControls['exten'].errors?.['required']">
            Extensión es requerida.
          </small>
        </div>

        <div class="field">
          <label for="team">Team</label>
          <p-select id="team" appendTo="body" [options]="teams" formControlName="team" optionLabel="n_team" optionValue="value" placeholder="Seleccione un equipo"></p-select>
          <small class="p-error" *ngIf="submitted && agentFormControls['team'].errors?.['required']">
            Equipo es requerido.
          </small>
        </div>

      </form>

    <div class="p-dialog-footer">
      <button
        pButton
        icon="pi pi-times"
        label="Cancelar"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        icon="pi pi-check"
        label="Guardar"
        class="p-button-primary"
        (click)="saveAgent()"
      ></button>
    </div>
  </p-dialog>

  
  <!-- Diálogo de confirmación para eliminar -->
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>

<!-- Indicador de carga -->
<div *ngIf="isLoading" class="loading-overlay">
  <p-progressSpinner strokeWidth="8" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</div>

<p-dialog [draggable]="false" [(visible)]="showQueueTable" [style]="{width: '750px'}" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">
  <ng-template #header >
    <h3></h3>
  </ng-template>
  @if(selectedAgent != undefined) {

    <app-manage-queue [user]="selectedAgent"></app-manage-queue>
  } @else {
    <p>No tenemos opciones que mostrar</p>
  }

</p-dialog>
